<!DOCTYPE html>
<html lang="ms">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kuiz Alkitab{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Utama</a>
        {% if session.get('user') %}
            <span class="welcome-msg">Selamat datang, {{ session.get('username', 'Pengguna') }}!</span>
            <a href="{{ url_for('select_book') }}">Mula Kuiz</a>
            <a href="{{ url_for('my_scores') }}">Skor Saya</a>
            <a href="{{ url_for('logout') }}">Log Keluar</a>
        {% else %}
            <a href="{{ url_for('login') }}">Log Masuk</a>
            <a href="{{ url_for('signup') }}">Daftar</a>
        {% endif %}
    </nav>
    <hr>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Aplikasi Kuiz Alkitab</p>
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>